@import url('https://fonts.googleapis.com/css?family=Dosis|Kosugi+Maru');

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: none;
    font-family: 'Kosugi Maru', sans-serif;
    text-align: center;
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
}

#logoLarge {
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    transition: 2s;
    -webkit-transition: 2s;
}

.centerAligned {
    text-align: center;
}

#splashPort {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    background: #fff;
    z-index: 900;
}

.halfPush {
    height: 26vh;
}

.smallTopMarge {
    margin-top: 30px;
    margin-bottom: 30px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.inputText {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #efefef;
    width: 85%;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 10px;
    background: #fafafa;
    color: #262626;
    outline: none;
    max-width: 300px;
}
.inputText:focus {
    border-color: #3897f0;
}
form {
    text-align: center;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    width: 85%;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 20px;
    outline: none;
    max-width: 300px;
}

.touPort {
    color: #999;
    font-size: 15px;
    line-height: 18px;
    font-family: sans-serif;
    margin-top: 10px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.aLink {
    text-decoration: none;
    font-weight: bold;
}

.btnDull {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #989898;
    border: 1px solid #989898;
    color: #fff;
    width: 85%;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 20px;
    outline: none;
    max-width: 300px;
}
.haveAnAccount {
    text-align: center;
    margin-top: 30px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

#loginPort, #createAccountPort {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.alertTextBanner {
    margin-top: 10px;
    margin-bottom: 0;
    color: #E91E63;
}
input:disabled {
    opacity: 0.7;
}
button:disabled {
    opacity: 0.7;
}
#accountPort {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#todoListport {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.bottomMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #dde3ea;
    text-align: center;
    background: #fff;
}

.bannerBtn {
    border: none;
    background: transparent;
    width: 30%;
    padding: 7px 3px 3px 3px;
    outline: none;
}

.bannerBtnChildSpan {
    color: #bec4cb;
    font-size: 12px;
}

#allListPort,#everyDayList {
    border-radius: 6px;
    width: 90%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #dde3ea;
    min-height: 80px;
}
#everyDayList {
    background: #5ba5fe;
    border-color: #5ba5fe;
    margin-bottom: 15px;
    margin-top: 15px;
}
.bottomMenuResponsiveWrapper {
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}
.everyDayListTitle {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
.edTitleWrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.sectorHeading {
    font-size: 30px;
    font-weight: bold;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #909090;
    padding: 15px;
    margin-top: 10px;
}
#noListsMade {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    height: 70vh;
    color: #909090;
    text-align: center;
}
.addListBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #5ba5fe;
    border: 1px solid #5ba5fe;
    box-shadow: 0px 0px 10px #5ba5fe;
    bottom: 85px;
    right: 35px;
    outline: none;
    padding: 0;
}
#noListsMadeED {
    width: 90%;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-weight: lighter;
}

/*third party modal stylesheet*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #909090;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
.dullBtnList {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    outline: none;
}
.xWrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    margin-bottom: -18px;
}
.bannerBtnChildSpanSelected {
    color: #5ba5fe;
    outline: none;
}
#todoListCreatePort {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: auto;

}
.userAddport {
    width: 85%;
    border-radius: 6px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #dde3ea;
    min-height: 80px;
    margin-top: 15px;
    text-align: center;
}
#smallFriendWrapperForNewToDoList {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.noContentWrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;1
    margin-top: 15px;
    color: #909090;
    text-align: center;
}
.friendsSmallModal {
    position: fixed;
    top: 10vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    left: 5%;
    height: 60vh;
    border-radius: 6px;
    overflow: auto;
}
.friendSearchAndAddModal {
    width: 90%;
    left: 5%;
    border-radius: 6px;
    top: 10vh;
    height: 225px;
    text-align: center;
    margin-top: 20px;
}
.friendSearchAndAddModalChild {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.xWrapperwBorder {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 10px;
}
.colKing {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #dde3ea;
    font-size: 13px;
    text-shadow: 0 0 black;
    height: 19px;
    background: #dde3ea;
    padding: 10px 10px 5px 10px;
}
.colHeading {
    font-weight: bold;
    font-size: 17px;
}
.colBtn {
    border: none;
    border-bottom: 1px solid #dde3ea;
    text-align: left;
    background: #fff;
    padding: 8px 7px 10px 10px;
    outline: none;
}
.under {
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.colBtn:hover {
    background: #3897f0;
    color: #fff;
    outline: none;
}
.userManagementWrapper {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #dde3ea;
}
.userManagementWrapperChild {
    text-align: left;
    display: inline-block;
    width: 80%;
}
.sharedUserName {
    font-size: 16px;
    font-weight: bold;
}
.sharedUserClass {
    font-size: 13px;
    color: #909090;
}
.editBtn {
    padding: 7px 10px 7px 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #909090;
    outline: none;
}
#addedUsersList {
    display: block;
    height: 225px;
    overflow: auto;
    border-bottom: 1px solid #909090;
}
#tdListsWrapper {
    height: 70vh;
    color: #909090;
    text-align: center;
    overflow: auto;
}
.listColBtn {
    width: 100%;
    background: #dde3ea;
    border: none;
    border-bottom: 1px solid #dde3ea;
    text-align: left;
    outline: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.listButtonContentWrapperOne {
    width: 50%;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 20px;
    padding: 0px 5px 5px 5px;
}
.openBtn {
    font-size: 15px;
    background: #5ba5fe;
    border: 1px solid #5ba5fe;
    border-radius: 7px;
    color: #fff;
    padding: 4px 10px 4px 10px;
    float: right;
    margin-top: 9px;
    margin-right: 25px;
    outline: none;
}
.btnDelete {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    width: 85%;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    margin-top: 20px;
    outline: none;
    max-width: 300px;
    background: #fe5b5b;
    border-color: #fe5b5b;
}
.settingsBtn {
    border-radius: 7px;
    background: #fff;
    border: 1px solid #909090;
    padding: 5px 10px 5px 10px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    outline: none;
}
#listContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
}
.backBtn {
    background: #fe5b5b;
    border-radius: 6px;
    border: none;
    padding: 7px 7px 7px 7px;
    float: right;
    margin-top: -3px;
    outline: none;
}
#tdTools {
    position: fixed;
    width: 100%;
    bottom: 54px;
    background: #fff;
    border-top: 1px solid #dde3ea;
}
#newTDcontentCreatorWizard {
    top: 10vh;
    width: 90%;
    left: 5%;
    border-radius: 12px;
    height: 525px;
}
#userListWrapper {
    width: 90%;
    border-radius: 6px;
    border: 1px solid #dde3ea;
    margin-right: auto;
    margin-left: auto;
    height: 160px;
    margin-top: 15px;
}
.takepee {
    border: none;
    background: #fff;
    border-bottom: 1px solid #dde3ea;
    width: 100%;
}
.checkBtn {
    border-radius: 50%;
    padding: 0px 0px 0px 0px;
    height: 16px;
    width: 16px;
    border: 2px solid #3897f0;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    outline: none;
    /*
    background: #9cc9ff;
    */
}
.userLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}
.progressWrapper {
    height: 15px;
    border: 1px solid #dde3ea;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.progressContent {
    background: #5ba5fe;
    height: 15px;
    border-radius: 5px;
    width: 0%;
    transition: 0.7s;
    -webkit-transition: 0.7s;
}
.ew {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.wrapKing {
    border-bottom: 1px solid #dde3ea;
    padding: 0px 0px 15px 0px;
    margin-bottom: 15px;
    width: 90%;
    border: 1px solid #dde3ea;
    border-radius: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
#tdContentWrap {
    display: block;
    border: 1px solid #dde3ea;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    padding: 15px 0px 15px 0px;
}
.taskColDiv {
    border: 1px solid #dde3ea;
    width: 90%;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 3px 4px #dde3ea;
    margin-bottom: 15px;
}
.taskColTopHeading {
    margin-left: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 2px 2px 2px 2px;
    display: inline-block;
}
.specialII {
    margin-top: 15px;
    margin-bottom: 15px;
}
.completeBoard {
    text-align: left;
    margin-bottom: 15px;
    color: #909090;
}
.memberBtn {
    margin-top: 0px;
    margin-bottom: 15px;
}
.completeWrap {
    text-align: center;
    background: #f0af38;
    color: #fff;
    padding: 5px 5px 5px 5px;
    width: 100px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
}
.activityWrapper {
    border-bottom: 1px solid #dde3ea;
padding: 15px 0px 15px 0px;
color: #909090;
text-align: left;
width: 90%;
margin-right: auto;
margin-left: auto;
}
.activityHeader {
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
}
people {
    color: #3897f0;
}
