<html>
<head>
  <title><% blog.title | dismiss_pictograms | html %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel="stylesheet" href="<% site_info.blog_url %>/_common/css/layout.css" type="text/css" />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="<% blog.page_url %>index1_0.rdf" />
  <link rel="stylesheet" href="<% css.page_url(page) %>" type="text/css" />
  <script src="/js/common.js" type="text/javascript"></script>
  <script src="/js/skin_com.js" type="text/javascript"></script>
  <% blog.ogp_tag(article_for_ogp) %>
<style>ac
body {
background: #fff;
font-family: sans-serif;
}
</style>
</head>


<body>

<br />
<div id="container">


  <div id="header">
    <table width="750" border="0" cellpadding="0" cellspacing="0">
      <tr>

        <div align="center"><% blog.custom_header_image.page_url_src %></div>
      </tr>
      <tr>

        <div class="blog_title"><a href="<% blog.page_url %>"><% blog.title | dismiss_pictograms | html %></a></div>

        <div class="blog_description"><% blog.description | nl2br %></div>
      </tr>
    </table>
  </div>


  <table width="750" border="0" cellpadding="0" cellspacing="0">
    <tr align="center" valign="top">


      <td width="0%" align="left">
        <div id="left">
          <% content_left %>

        </div>
      </td>


      <td width="100%">


        <% if:free_space -%>
         <div class="entry">
          <table width="97%">
           <tr>
            <td class="entry_text">
             <div class="entry_layer"><% free_space | nl2br %></div>
            </td>
           </tr>
          </table>
         </div>
        <% /if %>

        <% loop:list_article -%>
          <div class="entry">


            <div class="entry_title">
              <% article.subject %> <span class="date">[<% article.createstamp | date_format("%Y年%m月%d日（%a）") %>]</span>
            </div>

            <hr>


            <table width="97%">
              <tr>
                <td class="entry_text">
                  <div class="entry_layer"><% if:diet_log %><% include:article_diet_file %><% /if %><% article.body | bodyfilter(article_info,blog) %><div style="clear:both;"></div></div>
                </td>
              </tr>
            </table>

            <div class="entry_text">
              <% if:article.body_more -%>
                <a href="<% article.page_url %>#BlogEntryExtend">続きを読む･･･</a>
              <% /if %>

<% if:blog.bookmark_service %>
<div class="bookmark" data-url="<% article.page_url %>" data-subject="<% article.subject | remove_emoji | nl2br | tag_strip | html %>"></div>
<% /if %>
<% if:list_category_article -%>
<div class="listCategoryArticle">
【<% article_category.name %>の最新記事】<br />
<ul>
<% loop:list_category_article %>
<li><a href="<% article.page_url %>"><% article.subject | text_summary(20) %></a></li>
<% /loop %>
</ul>
</div>
<% /if %>
</div>


            <div class="posted">
              Posted by
              <% if:article.posted_owner_blog -%><a href="<% article.posted_owner_blog.page_url %>"><% /if %><% article.nickname | html %><% if:article.posted_owner_blog -%></a><% /if %>
              at <% article.createstamp | date_format("%H:%M") %><% unless:article_category.no_category -%> | <a href="<% article_category.page_url %>"><% article_category.name | html %></a><% /unless %>         | <a href="<% article.page_url %>">この記事のURL</a><% if:article.accept_comment_show -%>         | <a href="<% article.page_url %>#comments">コメント(<% article.children_count | __or__ | echo('0') %>)</a><% /if %><% if:article.accept_tb_show -%>         | <a href="<% article.page_url %>#Trackback">トラックバック(<% article.tb_count | __or__ | echo('0') %>)</a><% /if %>
            </div>

          </div>
        <% /loop -%>


        <% if:pager -%><div class="page">
          <% if:pager.previous_page -%>
            <a href="<% pager.page_url(pager.previous_page) | html %>">前へ</a> <% /if %><% if:pager.next_page -%> | <a href="<% pager.page_url(pager.next_page) | html %>">次へ</a>
          <% /if %>
        </div><% /if -%>


<% if:page_name eq 'tag' -%>
<div class="entry">
<div class="tag">
<% if:tag %><div class="tag-title">タグ&nbsp;/&nbsp;<% tag.word | html %></div><% /if -%>
<% loop:list_service -%>
<div class="tag-body">
<div class="tag-service"><% tag_service.title %></div>
<div class="tag-search"><a href="<% tag_service.page_url(tag) %>" target="_blank">'<% tag.word %>'&nbsp;でCanpan全体を検索する</a></div>
<% if:tag_service.service_key eq 'articles' -%>
<% loop:list_data -%>
<div class="tag-article">
<div class="tag-article-title"><a href="<% article.page_url %>"><% article.subject %></a>&nbsp;<span class="tag-article-posted">[<% article.createstamp | date_format("%Y/%m/%d %H:%M") %>]</span></div>

</div>
<% /loop -%>
<% /if -%>
<% if:tag_service.service_key eq 'photos' -%>
<% loop:list_data -%>
<div class="tag-photos">
<% thumbnail.fix_aspect(132) # サムネイルの長辺を132で固定。固定したくない場合は削除。 -%>
<table>
<tr>
<td height="140" valign="bottom"><a href="<% photo.page_url %>" target="_blank"><img src="<% thumbnail.page_url %>" border="0" width="<% thumbnail.width %>" height="<% thumbnail.height %>" /></a></td>
</tr>
</table>
<div class="tag-photos-title"><a href="<% photo.page_url %>" target="_blank"><% photo.title | text_summary(10) %></a><br />
<% if:photo_info -%>
サイズ：<% photo_info.width %>×<% photo_info.height %><br />
<% if:photo_info.size %>容量：<% photo_info.size | filesize %><% /if %>
<% /if -%>
</div>
</div>
<% /loop -%>
<% /if -%>
<% if:tag_service.service_key eq 'audios' -%>
<% loop:list_data -%>
<div class="tag-audios">
<div class="tag-audios-title"><a href="<% blog.page_url %>_pages/user/upload/<% audio.page_url %>" onclick="window.open('<% blog.page_url %>_pages/user/upload/<% audio.page_url %>','popup','width=490,height=400,scrollbars=no,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false" target="_blank"><% audio.title | text_summary(40) %></a>&nbsp;
<span class="tag-audios-posted"><% if:audio_info -%><% if:audio_info.author %>by <% audio_info.author %>&nbsp;&nbsp;<% /if %><% if:audio_info.duration %><% audio_info.duration | hms %>&nbsp;&nbsp;<% /if %><% if:audio_info.size %><% audio.size | filesize %>&nbsp;&nbsp;<% /if %><% /if -%></span></div>
</div>
<% /loop -%>
<% /if -%>
<% if:tag_service.service_key eq 'videos' -%>
<% loop:list_data -%>
<div class="tag-audios">
<div class="tag-videos-title"><a href="<% blog.page_url %>_pages/user/upload/<% video.page_url %>" onclick="window.open('<% blog.page_url %>_pages/user/upload/<% video.page_url %>','popup','width=480,height=550,scrollbars=no,resizable=yes,toolbar=no,directories=no,location=no,menubar=no,status=no,left=0,top=0'); return false" target="_blank"><% video.title | text_summary(15) %></a>
<br />
<% if:video_info -%>
<% if:video_info.duration %>時間：<% video_info.duration | hms %><br /><% /if %>容量：<% video.size | filesize %><br />
<% /if -%>
</div>
</div>
<% /loop -%>
<% /if %>
<% if:tag_service.service_key eq 'files' -%>
<% loop:list_data -%>
<div class="tag-files">
<div class="tag-files-title"><a href="<% blog.page_url %>_pages/user/upload/<% file.page_url %>" target="_blank"><% file.title | text_summary(15) %></a></div>
</div>
<% /loop -%>
<% /if -%>
<% if:pager -%>
<div class="tag-navi">
<% if:pager.previous_page %><a href="?page=<% pager.previous_page %>"><% /if %>≪前へ<% if:pager.previous_page %></a><% /if %>&nbsp;&nbsp;<% if:pager.next_page %><a href="?page=<% pager.next_page %>"><% /if %>次へ≫<% if:pager.next_page %></a><% /if %>
</div>
<% else -%>
<div class="tag-more"><a href="<% blog.tag_url(tag, tag_service.service_key) %>">≫もっと見る</a></div>
<% /if -%>
</div>
<% /loop -%>
<script type="text/javascript" language="javascript" src="<% site_info.blog_url %>/js/tag_cloud.js"></script>
<div id="tag_cloud"><% loop:list_tags -%><a href="<% blog.tag_url(tag) %>" class="_tag" title="<% tag.word | html %>/<% count %>"><% tag.word | html %></a> <% /loop -%></div>
<script type="text/javascript" language="javascript">
//<![CDATA[
tag_cloud("tag_cloud");
//]]></script>
<br />
</div>
</div>
<% /if -%>

</td>


      <td width="0%" align="right">
        <div id="right">
          <% content_right %>
        </div>
      </td>


    </tr>
  </table>

</div>



<div id="balloonBox"></div>
<script type="text/javascript" charset="utf-8" src="<% site_info.blog_url %>/js/bl-bookmarks.js?201403"></script>
<script type="text/javascript" charset="utf-8">
var bookmark_services = "<% blog.bookmark_service %>".split('-').join('').split(",");
var seesaaBookmarks = new blBookmarks({bookmark_services:bookmark_services, blog_url:"<% site_info.blog_url %>"});
seesaaBookmarks.exe();
</script>


</body>

</html>
